.container {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 25rem;
    left: 0;
    right: 0;
    z-index: -10;
}

.title {
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.02em;

    &--violet {
        color: var(--light-violet-color);
        margin-right: 50px;
    }

    &--purple {
        color: var(--light-purple-color);
    }
}

.separators {
    &::after {
        content: '';
        position: absolute;
        height: 100vw;
        width: 1px;
        background-color: var(--gray-color);
        left: calc(50% - 1px);
        top: -100vh;
        z-index: -10;
    }

    &::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 1px;
        background-color: var(--gray-color);
        top: calc(50% - 1px);
        left: -50%;
        z-index: -10;
    }
}