.container {
    position: absolute;
    display: flex;
    top: 25rem;
    left: 17rem;
    z-index: -10;
}

.title {
    font-weight: 700;
    font-size: 200px;
    line-height: 160px;
    text-align: center;
    letter-spacing: -0.02em;


    &--violet {
        color: var(--light-violet-color);
        margin-right: 50px;
    }

    &--purple {
        color: var(--light-purple-color);
    }
}