.date {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: var(--ultramarine-blue-color);
    margin-bottom: 15px;
}

.info {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--black-blue-color);
}

.slider {
    padding: 0 80px;
    // display: flex;
    // align-items: center;
    // position: relative;
}